name: Build Docker Images

on:
  workflow_dispatch:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        dockerfile: [ Dockerfile.slim, Dockerfile.full ]
    steps:
      # Action: https://github.com/actions/checkout/releases/tag/v4.2.2
      - name: Check out the repo
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683

      - name: Build Docker image ${{ matrix.dockerfile }}
        run: docker build . --file ${{ matrix.dockerfile }}